[submodule "themes/hugo-goa"]
	path = themes/hugo-goa
	url = https://github.com/shenoybr/hugo-goa
[submodule "public"]
	path = public
	url = git@github.com:pedrocarmona/pedrocarmona.github.io.git
	branch = master
